@model ListarProdutoViewModel
@using teb.AspNetCore.ViewModel;

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var categoria in Model.Categorias)
{
    var produtosDaCategoria = Model.Produtos.Where(p => p.CategoriaId == categoria.Id).Take(4).OrderBy(p => p.Nome).ToList();

<div class="row">
    <h2 class="col-12">@categoria.Nome</h2>

    @foreach (var produto in produtosDaCategoria)
    {
        <partial name="_CardProdutoPartial" for="@produto" />
    }

</div>
}
